* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
}

body canvas {
    overflow: hidden;
    color: white;
    display: block;
    margin: auto;
    border: 5px solid rgb(255, 0, 0)
}

.information {
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    color: white;
}

.cacheText {
    visibility: hidden;
}

figure {
    display: none;
}

#bouton_start {
    margin-top: 10px;
    padding: 5px;
    background-color: orange;
    border: 2px solid black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

#messageBox {
    position: absolute;
    border: 5px solid black;
    font-size: 24px;
    padding: 5px;
    background-color: white;
    width: 250px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: black;
}